@use '../utils' as *;

/*----------------------------------------*/
/*  2.8 cartmini
/*----------------------------------------*/

.tp-cartmini{
    &__area{
        position: relative;
        z-index: 999999;
        & .modal{
            background-color: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(15px);
        }
        & .modal.show .modal-dialog{
            transform: none !important;
        }
        & .modal.fade .modal-dialog{
            transition:transform .3s ease-out;
            transform:translate(100px,0px);
        }
        & .modal-dialog{
            position: absolute;
            top: 0;
            right: 0;
            max-width: 450px;
            width: 100%;
            height: 100%;
            z-index: 99999;
            margin: 0;
            color: var(--tp-common-white);
        }
        & .modal-content{
            border: 0;
        }
    }
    &__content{
        margin-top: 7px;
    }
    &__wrapper{
        padding: 65px 65px;
        padding-top: 50px;
        height: 100vh;
        overflow-y: scroll;
        @media #{$xs}{
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    &__top{
        padding-bottom: 20px;
        border-bottom: 1px solid var(--tp-border1-1);
        & h4{
            font-size: 18px;
            margin-bottom: 0;
        }
    }
    &__close{
        &-btn{
            font-size: 24px;
            color: var(--tp-common-black);
            background: transparent;
            border: 0;
            outline: 0;
            & i{
                font-weight: 600;
                &:hover{
                    color: var(--tp-green-2);
                }
            }
        }
    }
    &__item{
        padding: 20px 0; 
        padding-right: 30px;
        border-bottom: 1px solid var(--tp-border1-1);   
        &:last-child{
            border: none;
        }    
    }
    &__thumb{
        & img{
            width: 80px;
        }
    }
    &__title{
        font-size: 16px;
        color: var(--tp-common-black);
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 5px;
        & a{
            &:hover{
                color: var(--tp-green-2);
            }
        }
    }
    &__remove{
        position: absolute;
        top: 20px;
        right: 0;
        font-size: 13px;
        color: var(--tp-grey-3);
        height: 17px;
        width: 17px;
        line-height: 16px;
        text-align: center;
        border: 1px solid  var(--tp-grey-3);
        border-radius: 50%;
        margin-top: 7px;
        &:hover{
            color: var(--tp-green-2);
            border: 1px solid var(--tp-green-2);
        }
    }
    &__price{
        & .price{
            font-size: 13px;
            color: var(--tp-common-black);
        }
    }
    &__total{
        padding: 20px 0;
        margin-bottom: 20px;
        border-top: 1px solid var(--tp-border1-1);  ;
        & h5{
            font-size: 16px;
            margin-bottom: 0;
            font-weight: 500;
            color: var(--tp-common-black);
        }
        & span{
            font-size: 18px;
            color: var(--tp-common-black);
            font-weight: 500;
        }
    }
    &__list{
        margin-bottom: 50px;
    }
    &-btn{
        position: relative;
        display: inline-block;
        font-size: 14px;
        color: var(--tp-common-white);
        background-color: var(--tp-common-black);
        border: 2px solid var(--tp-common-black);
        height: 50px;
        line-height: 42px;
        text-align: center;
        padding: 0 40px;
        text-transform: uppercase;
        font-weight: 500;
        border-radius: 15px;
        &:hover{
            background: transparent;
            color: var(--tp-common-black);
        }
        &-2{
            position: relative;
            display: inline-block;
            font-size: 14px;
            color: #222;
            background-color: #ffffff;
            border: 2px solid #222;
            height: 50px;
            line-height: 46px;
            text-align: center;
            padding: 0 40px;
            text-transform: uppercase;
            font-weight: 500;
            border-radius: 15px;
            &:hover{
                background: var(--tp-common-black);
            }
        }
    }
}