@use '../../utils' as *;

/*----------------------------------------*/
/* 7.29 shop css
/*----------------------------------------*/

.tp-shop{
    &-search{
        &-input{
            & input{
                height: 60px;
                border: 1px solid#f2f4f8;
                border-radius: 15px;
                font-size: 16px;
                color: var(--tp-common-black);
                font-weight: 500;
                padding-left: 30px;
                padding-right: 50px;
                &:focus{
                    border: 1px solid var(--tp-blue-2);
                }
                &::placeholder{
                    font-size: 16px;
                    line-height: 20px;
                    color: var(--tp-grey-3);
                    font-weight: 400;
                }
            }
        }
        &-btn{
            position: absolute;
            color: var(--tp-common-black);
            font-size: 16px;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &-payment{
        &-list{
            border: 1px solid#f3f2f5;
            border-radius: 15px;
            padding: 30px;
            padding-top: 22px;
            padding-bottom: 20px;
            & ul{
                & li{
                    & a{
                        font-size: 16px;
                        line-height: 34px;
                        color: var(--tp-grey-3);
                        font-weight: 400;
                        display: flex;
                        justify-content: space-between;
                        transition: all .4s ease;
                        & span{
                            color: var(--tp-blue-2);
                            opacity: 0;
                            margin-left: -10px;
                            transition: all .4s ease;
                            display: inline-block;
                        }
                        &:hover{
                            color: var(--tp-blue-2);
                            & span{
                                margin-left: 0;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
    &-sub{
        &-title{
            font-size: 22px;
            letter-spacing: 0px;
            line-height: 30px;
            color: var(--tp-common-black);
            font-weight: 800;
        }
    }
    &-widget{
        &-filter{
            &-btn{
                color: var(--tp-blue-2);
                font-size: 14px;
                letter-spacing: 0px;
                line-height: 20px;
                text-decoration: underline;
                text-transform: uppercase;
                color: #6222cc;
                font-weight: 700;
            }
            &-info{
                & input{
                    border: none;
                    padding: 0;
                    height: auto;
                    background-color: transparent;
                    color: var(--tp-common-black);
                    padding: 0;
                    border: 0;
                    font-size: 16px;
                    line-height: 34px;
                    color: var(--tp-grey-3);
                    font-weight: 400;
                }
            }
        }
        &-filter{
            & .ui-widget.ui-widget-content {
                background-color: #EDEDED;
                height: 6px;
            }
            & .ui-slider-range.ui-corner-all.ui-widget-header {
                background: var(--tp-blue-2);
            }
            & .ui-slider-handle.ui-corner-all.ui-state-default {
                height: 14px;
                width: 14px;
                border: 4px solid var(--tp-blue-2);
                background: var(--tp-common-white);
                border-radius: 40px;
                top: -5px;
                &:focus-visible{
                    outline: 0;
                }
            }
        }
        &-product{
            &-thumb{
                margin-right: 20px;
                & img{
                    flex: 0 0 auto;
                    border-radius: 15px;
                }
            }
            &-rating{
                & span{
                    line-height: 14px;
                    & i{
                        font-size: 10px;
                        color: var(--tp-blue-7);
                    }
                }
            }
            &-title{
                font-size: 18px;
                letter-spacing: 0px;
                line-height: 22px;
                color: var(--tp-common-black);
                font-weight: 700;
                margin-bottom: 0;
                & a{
                    &:hover{
                        color: var(--tp-blue-2);
                    }
                }
            }
            &-price{
                font-size: 14px;
                line-height: 34px;
                color: var(--tp-grey-3);
                font-weight: 400;
            }
        }
    }
    &-tag{
        &-wrapper{
            & ul{
                & li{
                    margin-bottom: 10px;
                    display: inline-block;
                    margin-right: 4px;
                    & a{
                        font-size: 14px;
                        line-height: 30px;
                        color: var(--tp-grey-3);
                        font-weight: 400;
                        border-radius: 10px;
                        background-color: var(--tp-grey-4);
                        display: inline-block;
                        padding: 0 16px;
                        flex: 0 0 auto;
                        @media #{$xl}{
                            padding: 0 12px;
                        }
                        &:hover{
                            background: var(--tp-blue-2);
                            color: var(--tp-common-white);
                        }
                    }
                }
            }
        }
    }
    &-product{
        &-rating{
            font-size: 14px;
            color: var(--tp-blue-2);
            margin-bottom: 10px;
            & .tp-shop-product-nobg{
                color: var(--tp-grey-4);
            }
        }
        &-title{
            & a{
                font-size: 20px;
                letter-spacing: 0px;
                line-height: 30px;
                color: var(--tp-common-black);
                font-weight: 800;
                &:hover{
                    color: var(--tp-blue-2);
                }
            }
        }
        &-price{
            font-size: 18px;
            line-height: 24px;
            color: var(--tp-blue-2);
            font-weight: 500;
            margin-bottom: 20px;
        }
        &-content{
            border-radius: 0 0 15px 15px;
            padding: 34px 40px 40px 40px;
            transition: all .3s ease;
            border: 1px solid #f8f8f8;
        }
        &-btn{
            font-size: 14px;
            letter-spacing: 0px;
            line-height: 20px;
            text-transform: uppercase;
            color: var(--tp-grey-3);
            font-weight: 700;
            padding: 10px 22px;
            border-radius: 15px;
            background-color: var(--tp-grey-4);
            display: inline-block;
            transition: all .3s ease-in-out;
            &:hover{
                color: var(--tp-common-white);
                background: var(--tp-blue-2);
            }
        }
        &-action{
            position: absolute;
            top: 20px;
            right: 0;
            transition: all .3s ease-in-out;
            opacity: 0;
            & button{
                display: block;
                width: 38px;
                height: 38px;
                color: var(--tp-blue-2);
                border-radius: 19px;
                background-color: var(--tp-common-white);
                transition: all .4s ease;
                margin-bottom: 10px;
                &:hover{
                    background: var(--tp-blue-2);
                    color: var(--tp-common-white);
                }
            }
        }
        &-item{
            & img{
                border-radius: 15px 15px 0 0;
            }
            &:hover{
                & .tp-shop-product-action{
                    right: 20px;
                    opacity: 1;
                }
                & .tp-shop-product-content{
                    filter: drop-shadow(-1.254px 11.934px 15px rgba(76,70,84,0.08));
                    background-color: var(--tp-common-white);
                }
            }
        }
    }
    &-details{
        &-wrapper{
            margin-left: -30px;
            @media #{$md,$sm,$xs}{
                margin-left: 0;
            }
        }
        &-thumb{
            margin-right: 100px;
            & img{
                border-radius: 15px;
            }
            @media #{$md,$sm,$xs}{
                margin-right: 0;
            }
        }
        &-category{
            font-size: 16px;
            line-height: 26px;
            color: var(--tp-blue-2);
            font-weight: 500;
            margin-bottom: 18px;
            display: inline-block;
        }
        &-title{
            font-size: 36px;
            letter-spacing: -1px;
            line-height: 26px;
            color: var(--tp-common-black);
            font-weight: 700;
            margin-bottom: 10px;
        }
        &-rating{
            margin-right: 13px;
            flex: 0 0 auto;
            & span{
                color: var(--tp-yellow-3);
                font-size: 14px;
            }
        }
        &-reviews{
            margin-right: 26px;
            flex: 0 0 auto;
            @media #{$xs}{
                margin-right: 3px;
            }
            & span{
                font-size: 14px;
                line-height: 50px;
                color: var(--tp-grey-3);
                font-weight: 400;
            }
        }
        &-inventory{
            @media #{$xxl,$xl,$lg,$md,$sm,$xs}{
               flex-wrap: wrap;
            }
        }
        &-code{
            margin-right: 56px;
            flex: 0 0 auto;
            @media #{$xl,$lg,$md,$sm,$xs}{
                margin-right: 15px;
            }
            & span{
                color: var(--tp-grey-3);
                font-size: 16px;
                line-height: 34px;
                & b{
                    font-size: 16px;
                    line-height: 34px;
                    color: var(--tp-common-black);
                    font-weight: 700;
                }
            }
        }
        &-stock{
            font-size: 14px;
            letter-spacing: 0px;
            line-height: 20px;
            color: var(--tp-blue-2);
            font-weight: 700;
            padding: 5px 15px;
            border-radius: 10px;
            border: 1px solid #f4f3f1;
            flex: 0 0 auto;
        }
        &-countdown{
            font-size: 18px;
            letter-spacing: 0px;
            line-height: 30px;
            color: var(--tp-blue-2);
            font-weight: 700;
            border-radius: 10px;
            background-color: var(--tp-grey-4);
            padding: 10px 30px;
            margin-bottom: 24px;
            @media #{$xs}{
                font-size: 14px;
            }
            & i{
                margin-right: 15px;
            }
        }
        &-view{
            & p{
                font-size: 18px;
                letter-spacing: 0px;
                line-height: 30px;
                color: var(--tp-common-black);
                font-weight: 700;
                & i{
                    margin-right: 3px;
                }
            }
        }
        &-price{
            & h4{
                font-size: 30px;
                letter-spacing: -1px;
                line-height: 30px;
                color: var(--tp-blue-2);
                font-weight: 500;
                margin-bottom: 20px;
            }
        }
        &-progress{
            & .progress-bar{
                background: var(--tp-blue-2);
            }
            &-title{
                font-size: 16px;
                line-height: 30px;
                color:var(--tp-grey-3);
                font-weight: 400;
                margin-bottom: 5px;
                display: inline-block;
                & a{
                    color: var(--tp-blue-2);
                    font-weight: 600;
                }
            }
        }
        &-quantity{
            width: 130px;
            height: 46px;
            border-radius: 10px;
            background-color: var(--tp-grey-4);
            padding: 0 30px;
            margin-right: 20px;
                @media #{$xs}{
                    margin-right: 10px;
                }
            & input{
                height: 46px;
                line-height: 46px;
                background-color: #F3F5F6;
                border: 0;
                border-radius: 0;
                font-size: 16px;
                font-weight: 600;
                color: var(--tp-common-black);
                padding: 0;
                text-align: center;
                font-size: 18px;
            }
            & span{
                font-size: 18px;
                color: #767676;
                font-weight: 700;
                cursor: pointer;
                &:hover{
                    color: var(--tp-blue-2);
                }
            }
            &-title{
                font-size: 16px;
                letter-spacing: 0px;
                line-height: 30px;
                color: var(--tp-common-black);
                font-weight: 700;
                margin-bottom: 4px;
            }
        }
        &-wishlist{
            width: 46px;
            height: 46px;
            border-radius: 10px;
            border: 1px solid #f0f0f0;
            display: inline-block;
            color: var(--tp-blue-2);
            font-size: 18px;
            text-align: center;
            line-height: 46px;
            &:hover{
                color: var(--tp-common-white);
                background: var(--tp-blue-2);
            }
        }
        &-cart{
            &-btn{
                border-radius: 10px;
                background-color: var(--tp-blue-2);
                display: inline-block;
                font-size: 14px;
                letter-spacing: 0px;
                line-height: 23px;
                text-transform: uppercase;
                color: var(--tp-common-white);
                font-weight: 700;
                padding: 12px 38px;
                height: 46px;
                margin-right: 20px;
                @media #{$xs}{
                    padding: 12px 25px;
                    margin-right: 10px;
                    font-size: 11px;
                }
                &:hover{
                    color: var(--tp-common-white);
                }
            }
        }
        &-social{
            & span{
                font-size: 16px;
                letter-spacing: 0px;
                line-height: 34px;
                color: var(--tp-common-black);
                font-weight: 700;
                margin-right: 30px;
            }
            & a{
                width: 38px;
                height: 38px;
                border-radius: 19px;
                text-align: center;
                line-height: 38px;
                color: var(--tp-common-black);
                display: inline-block;
                font-size: 16px;
                border: 1px solid #f0f0f0;
                transition: all .4s ease-in-out;
                margin-right: 12px;
                &:hover{
                    background: var(--tp-common-black);
                    color: var(--tp-common-white);
                }
            }
        }
        &-tab{
            border-bottom: 1px solid#eaeaea;
            & li{
                & button{
                    font-size: 20px;
                    letter-spacing: -1px;
                    line-height: 26px;
                    color: var(--tp-common-black);
                    font-weight: 800;
                    padding: 17px 60px;
                    @media #{$sm,$xs}{
                        padding: 17px 32px;
                    }
                    &:hover{
                        color: var(--tp-common-black);
                    }
                    &.active{
                        height: 60px;
                        color: var(--tp-common-black);
                        background-image: linear-gradient(0deg, #f6f1ff 0%, #ffffff 100%);
                    }
                }
            }
        }
        &-information{
            &-inner{
                padding: 45px 70px 45px;
                border: 1px solid #E9E9F0;
                @media #{$sm,$xs}{
                    padding: 30px 30px 30px;
                }
                & table{
                    width: 100%;
                    & tr{
                        padding: 16px 0 14px;
                        display: block;
                        &:not(:last-child) {
                            border-bottom: 1px solid #E9E9F0;
                        }
                        & th{
                            font-weight: 500;
                            font-size: 15px;
                            color: var(--tp-common-black);
                            width: 28%;
                            display: inline-block;
                        }
                        & td{
                            width: 71%;
                            display: inline-block;
                            font-size: 15px;
                            color: var(--tp-grey-3);
                        }
                    }
                }
            }
        }
        &-review{
            &-inner{
                padding: 62px 70px 70px;
                border: 1px solid #E9E9F0;
                @media #{$sm,$xs}{
                    padding: 30px 30px 30px;
                }
            }
        }
    }
    &-popup{
        &-icon{
            position: absolute;
            top: 40px;
            right: 40px;
            width: 60px;
            height: 60px;
            border-radius: 30px;
            text-align: center;
            line-height: 60px;
            color: var(--tp-common-black);
            background-color: var(--tp-common-white);
            font-size: 18px;
            &:hover{
                color: var(--tp-common-white);
                background: var(--tp-blue-2);
            }
            @media #{$xs}{
                top: 20px;
                right: 20px;
            }
        }
    }
    &-rating{
        &-title{
            font-weight: 600;
            font-size: 24px;
            margin-bottom: 22px;
        }
        &-number{
            text-align: center;
            width: 100%;
            height: 125px;
            border: 1px solid #E9E9F0;
            padding-top: 21px;
            padding-bottom: 21px;
            &-title{
                font-weight: 400;
                font-size: 60px;
                line-height: 1;
                color: var(--tp-common-black);
                margin-bottom: 0;
            }
        }
        &-star{
            line-height: 1;
            & span{
                line-height: 1;
                font-size: 12px;
                color: var(--tp-yellow-3);
                display: inline-block;
                &:not(:last-child) {
                    margin-right: 3px;
                }
            }
        }
        &-bar{
            width: 100%;
            background-color: #E9E9E9;
            border-radius: 10px;
            & .single-progress{
                background-color: var(--tp-blue-2);
                height: 8px;
                border-radius: 10px;            
            }
            &-wrapper{
                & .product-rating-bar-item{
                    &:not(:last-child) {
                        margin-bottom: 5px;
                    }
                }
                & .product-rating-bar-text{
                    width: 3.5%;
                    line-height: 1;
                    & span{
                        font-size: 14px;
                        color: var(--tp-grey-3);
                    }
                }
            }
        }
    }
    &-review{
        &-rating{
            margin-bottom: 5px;
            &-wrapper{
                margin-right: 10px;
                & span{
                    line-height: 1;
                    font-size: 12px;
                    color: var(--tp-yellow-3);
                    display: inline-block;
                    &:not(:last-child) {
                        margin-right: 3px;
                    }
                }
            }
            &-date{
                font-weight: 400;
                font-size: 13px;
                color: var(--tp-grey-3);
            }
        }
        &-avater{
            margin-bottom: 11px;
            &-thumb{
                & img{
                    width: 34px;
                    height: 34px;
                    border-radius: 50%;
                    margin-right: 10px;
                }
            }
            &-title{
                font-weight: 500;
                font-size: 16px;
                line-height: 1;
                margin-bottom: 0;
                color: var(--tp-common-black);
            }
        }
        &-form{
            & p{
                font-weight: 400;
                font-size: 14px;
                color: var(--tp-grey-3);
                margin-bottom: 20px;
            }
            &-title{
                font-weight: 600;
                font-size: 24px;
                letter-spacing: -0.02em;
                margin-bottom: 4px;
            }
            &-rating{
                & .rate-title{
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 14px;
                    letter-spacing: -0.02em;
                    color: var(--tp-common-black);
                }
            }
        }
        &-input{
            & textarea{
                height: 180px;
                line-height: 1.2;
                padding-bottom: 20px;
                background-color: #F7F7F7;
                border: 1.5px solid #F7F7F7;
                resize: none;
                &:focus{
                    border: 1px solid var(--tp-blue-2);
                }
            }
            & input{
                height: 60px;
                line-height: 60px;
                background-color: #F7F7F7;
                border: 1.5px solid #F7F7F7;
                &:focus{
                    border: 1px solid var(--tp-blue-2);
                }
            }
        }
        &-agree{
            & input{
                margin: 0;
                display: block;
                width: 18px;
                height: 18px;
                background: transparent;
                border: 2px solid #B2B2B9;
                border-radius: 4px;
                outline: none;
                flex: 0 0 auto;
                transform: translateY(3px);
                padding: 0;
            }
            & label{
                padding-left: 8px;
                font-size: 14px;
                line-height: 1.71;
                color: var(--tp-common-black);
            }
        }
        &-item{
            & p{
                font-size: 15px;
                line-height: 26px;
            }
        }
    }
}
  