@use '../../utils' as *;

/*----------------------------------------*/
/* 7.4 testimonial css
/*----------------------------------------*/

.tp-testimonial{
    &-wrapper{
        padding: 50px;
        border: 1px solid #f8f8f8;
        border-radius: 15px;
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.04);
        @media #{$xs}{
            padding: 20px;
        }
        & p{
           margin-bottom: 26px;
        }
        &-fin{
            border-radius: 94px 15px 15px 15px;
            background-color: var(--tp-common-white);
            padding-left: 120px;
            padding-top: 35px;
            padding-bottom: 56px;
            padding-right: 60px;
            z-index: 1;
            &-2{
                filter: drop-shadow(0 0 30px rgba(13,4,28,0.06));
                background-color: var(--tp-common-white);
                &:hover{
                    & .tp-testimonial-about-shape{
                        & i{
                            color: var(--tp-common-black);
                        }
                    }
                    & .tp-testimonial-about-rating{
                        background: var(--tp-blue-2);
                    }
                }
            }
            @media #{$xs}{
                padding-left: 80px;
                padding-right: 20px;
            }
        }
    }
    &-rating{
        & i{
            color: var(--tp-blue-2);
            font-size: 18px;
        }
    }
    &-customer{
        & img{
            margin-right: 20px;
            border-radius: 50%;
        }
    }
    &-con{
        &-fin{
            @media #{$xs}{
                margin-left: 54px;
            }
        }
    }
    &-user-name{
        font-size: 22px;
        letter-spacing: 0px;
        line-height: 30px;
        margin-bottom: 0;
    }
    &-position{
        font-size: 16px;
        line-height: 30px;
        color: #6a6a6a;
        font-weight: 400;
    }
    &-slide{
        overflow: hidden;
        padding-top: 50px;
        padding-bottom: 70px;
    }
    &-review{
        & p{
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 0;
            & br{
                @media #{$md,$sm,$xs}{
                  display: none;
                }
            }
        }
        & span{
            color: var(--tp-common-black);
        }
        & .text-color{
            color: var(--tp-blue-2);
        }
        &-exc{
            margin-top: 20px;
            & p{
                font-size: 18px;
                line-height: 30px;
                color: var(--tp-heading-black3);
                font-weight: 500;
                & br{
                    @media #{$lg,$md,$sm,$xs}{
                        display: none;
                    }
                }
            }
            & span{
                color: var(--tp-red-1);  
            }
        }
    }
    &-feedback{
        filter: drop-shadow(0 0 30px rgba(13, 4, 28, 0.06));
    }
    &-thumb{
        justify-content: space-between;
        & img{
            border-radius: 15px;
        }
    }
    &-shape{
        left: 114px;
        top: 140px;
    }
    &-fin{
        &-thumb{
            left: 0;
            top: 0;
            border-radius: 50%;
        }
        &-title{
            font-size: 22px;
            letter-spacing: 0px;
            color: var(--tp-common-black);
            margin: 0;
        }
        &-sub{
            font-size: 16px;
            line-height: 30px;
            color: var(--tp-grey-3);
            font-weight: 400;
        }
        &-shape{
            & i{
                font-size: 34px;
                color: var(--tp-heading-black3);
            }
        }
        &-shape2{
            top: 0;
            left: 0;
            z-index: -1;
            height: 100%;
            @media #{$xs}{
                width: 80px;
            }
        }
        &-rating{
            height: 42px;
            width: 110px;
            border-radius: 15px;
            background-color: var(--tp-red-1);
            font-size: 16px;
            line-height: 30px;
            color: var(--tp-common-white);
            font-weight: 500;
            display: inline-block;
            text-align: center;
            line-height: 42px;
            transform: rotate(-90deg);
            position: absolute;
            left: -2px;
            top: 165px;
            @media #{$xs}{
                left: -33px;
            }
        }
    }
    &-insu{
        &-content{
            padding: 36px 50px;
            background: var(--tp-common-white);
            border-radius: 15px;
            &::before{
                position: absolute;
                content: "";
                width: 4px;
                height: 300px;
                border-radius: 2px;
                background-color: var(--tp-red-2);
                left: 0;
                top: 28px;
            }
        }
        &-para{
            @media #{$xxl,$xl,$lg,$md,$sm,$xs}{
                & br{
                    display: none;
                }
            }
        }
        &-shape{
            bottom: 0;
            right: 0;
            z-index: -1;
        } 
        &-star{
            margin-bottom: 15px;
            & i{
                color: var(--tp-red-2);
                font-size: 18px;
            }
        }
        &-author{
            &-cont{
                margin-left: 20px;
            }
            &-tit{
                font-size: 22px;
                letter-spacing: 0px;
                line-height: 30px;
                color: var(--tp-common-black-title);
                margin-bottom: 0;
            }
            &-para{
                font-size: 16px;
                line-height: 30px;
                color: var(--tp-grey-3);
                font-weight: 400;
            }
            &-img{
                border-radius: 50%;
            }
        } 
        &-icon{
            height: 50px;
            width: 50px;
            display: inline-block;
            background: var(--tp-common-white);
            text-align: center;
            line-height: 55px;
            color: var(--tp-red-2);
            font-size: 20px;
            border-radius: 55%;
            margin-right: 20px;
        }
        &-tab{
            &-wrapper{
                @media #{$md,$sm,$xs}{
                    margin-top: 30px;
                }
            }
        }
        &-wrapper{
            margin-right: 93px;
            @media #{$lg,$md,$sm,$xs}{
                margin-right: 0;
            }
        }
    }
    &-list{
        margin-top: 10px;
        @media #{$xs}{
            margin-top: 40px;
        }
        &-insu{
            &-border{
                border-bottom: 1px solid #d4dbe3;
            }
        }
    }
    &-btn{
        padding: 0;
        padding-left: 32px;
        @media #{$xs}{
            display: inline-block!important;
            padding-left:26px;
        }
    }
    &-tab{
        &-btn{
            position: relative;
            margin-bottom: 43px;
            display: block;
            & img{
                border-radius: 50%;
            }
            &::before{
                position: absolute;
                content: "";
                width: 120%;
                height: 120%;
                border: 1px solid var(--tp-red-2);
                border-radius: 50%;
                top: -8px;
                left: -8px;
            }
            &:after{
                border-style: solid;
                border-width: 5px 12px 5px 0;
                border-color: transparent #FF4532 transparent transparent;
                transform: rotate(0deg);
                position: absolute;
                content: "";
                opacity: 0;
                left: -20px;
                top: 50%;
                transform: translateY(-50%);
                @media #{$xs}{
                    display: none;
                }
            }
        }
    }
    &-btn{
        &.active{
            & .tp-testimonial-tab-btn{
                & img{
                    position: relative;
                    z-index: 1;
                }
                &::before{
                    background-color: var(--tp-red-2);
                }
                &:after{
                    opacity: 1;
                }
            }
        }
    }
    &-counter{
        border-radius: 15px;
        filter: drop-shadow(0 0 20px rgba(0,0,37,0.04));
        background-color: var(--tp-common-white);
        padding: 40px;
        padding-top: 27px;
        padding-bottom: 32px;
        transition: all .4s ease;
        &:hover{
            background-color: var(--tp-heading-black9);
            & .tp-testimonial-counter-title{
                color: var(--tp-common-white);
            }
            & .tp-testimonial-counter-title-pre{
                color: var(--tp-common-white);
            }
            & .tp-testimonial-counter-icon{
                background: var(--tp-red-2);
            }
        }
        &-title{
            font-size: 48px;
            letter-spacing: -2px;
            line-height: 60px;
            color: var(--tp-red-2);
            font-weight: 800;
            margin-bottom: 4px;
            &-pre{
                font-size: 20px;
                letter-spacing: 0px;
                line-height: 25px;
                color: #0e0927;
                font-weight: 700;
                @media #{$xl,$lg,$md,$sm,$xs}{
                    font-size: 18px;
                }
            }
        }
        &-icon{
            width: 90px;
            height: 90px;
            border-radius: 15px;
            background-color: var(--tp-heading-black9);
            font-size: 43px;
            color: var(--tp-common-white);
            text-align: center;
            line-height: 96px;
            top: -45px;
            right: 20px;
            transition: all .4s ease;
        }
    }
    &-item{
        &-3{
            @media #{$xs}{
                margin-top: -42px;
            }
        }
    }
    &-agen{
        &-inner{
            background-color: var(--tp-common-white);
            border-radius: 15px;
            filter: drop-shadow(0 0 30px rgba(98,34,204,0.08));
            padding: 60px;
            padding-bottom: 47px;
            @media #{$xs}{
                padding: 56px 18px;
            }
        }
        &-slider{
            &.swiper-container-fade .swiper-slide {
                background: #ffff;
            }
        }
        &-author{
            margin-bottom: 25px;
            border-radius: 50%;
        }
        &-navigate{
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-bottom: -59px;
            position: relative;
            z-index: 99;
            @media #{$xs}{
                justify-content: space-between;
            }
            & div{
                font-size: 28px;
                color: #dbcaf5;
                &:hover{
                    color: var(--tp-blue-2);
                }
            }
        }
        &-name{
            font-size: 22px;
            letter-spacing: 0px;
            line-height: 30px;
            color: var(--tp-heading-black13);
            margin-bottom: 0;
        }
        &-para{
            margin-bottom: 25px;
            @media #{$xxl,$xl,$lg,$md,$sm,$xs}{
                & br{
                    display: none;
                }
            }
            &-2{
                margin-bottom: 50px;
                @media #{$xxl,$xl,$lg,$md,$sm,$xs}{
                    & br{
                        display: none;
                    }
                }
            }
            &-3{
                color: var(--tp-grey-17);
            }
        }
        &-title{
            font-size: 45px;
            letter-spacing: -2px;
            line-height: 50px;
            color: var(--tp-heading-black13);
            font-weight: 400;
            margin-bottom: 30px;
            @media #{$xxl,$xl,$lg,$md,$sm,$xs}{
                & br{
                    display: none;
                }
            }
            &-2{
                color: var(--tp-common-white);
            }
        }
        &-pepole{
            font-size: 28px;
            letter-spacing: -1px;
            line-height: 28px;
            color: var(--tp-blue-2);
            margin: 0;
            &-2{
                color: var(--tp-common-white);
            }
        }
        &-right{
            margin-left: 70px;
            margin-top: -10px;
            border-radius: 15px;
            @media #{$md,$sm,$xs}{
                margin-top: 30px;
                margin-left: 0;
            }
        }
        &-user{
            display: flex;
            align-items: center;
            flex: 0 0 auto;
            margin-bottom: 54px;
            & img{
                margin-right: 38px;
                flex: 0 0 auto;
            }
        }
        &-active{
            font-size: 16px;
            line-height: 24px;
            color: var(--tp-common-black);
            font-weight: 500;
            &-2{
                color: var(--tp-common-white);
            }
        }
        &-shape{
            top: 130px;
            left: 0;
            @media #{$xxl,$xs,$lg,$md,$sm,$xs}{
                width: 20%;
            }
            &-2{
                top: -54px;
                left: -43px;
            }
            &-3{
                bottom: -50px;
                right: -50px;
            }
        }
    }
    &-hero{
        &-title{
            font-size: 50px;
            letter-spacing: -2px;
            line-height: 60px;
            color: var(--tp-common-white);
            font-weight: 800;
            @media #{$md,$sm}{
                font-size: 45px;
            }
            @media #{$xs}{
                font-size: 38px;
                line-height: 50px;
                & br{
                    display: none;
                }
            }
            &-2{
                font-size: 36px;
                letter-spacing: -1px;
                line-height: 1.4;
                color: var(--tp-common-white);
                margin-bottom: 28px;
            }
        }
        &-para{
            font-size: 24px;
            letter-spacing: 0px;
            line-height: 32px;
            color: var(--tp-common-white);
            font-weight: 500;
            margin-bottom: 42px;
        }
        &-content{
            margin-left: 70px;
            margin-right: 126px;
            @media #{$lg,$md,$sm,$xs}{
                margin: 0;
            }
        }
        &-navigation{
            display: flex;
            justify-content: end;
            height: 100%;
            align-items: end;
            padding-bottom: 20px;
            @media #{$md,$sm,$xs}{
                justify-content: left;
            }
            & div{
                width: 60px;
                height: 60px;
                border-radius: 30px;
                background: var(--tp-common-white);
                text-align: center;
                line-height: 60px;
                font-size: 22px;
                color: var(--tp-common-black);
                transition: all .3s ease;
                &:hover{
                    background: var(--tp-grey-17);
                }
            }
        }
        &-next{
            margin-left: 10px;
        }
    }
    &-clients{
        &-name{
            font-size: 22px;
            letter-spacing: 0px;
            line-height: 30px;
            color: var(--tp-common-white);
            font-weight: 700;
            margin: 0;
        }
        &-position{
            font-size: 16px;
            line-height: 30px;
            color: var(--tp-grey-17);
            font-weight: 400;
        }
    }
    &-about{
        &-rating{
            background: var(--tp-common-black);
            color: var(--tp-common-white);
            transition: all .3s ease;
        }
        &-shape{
           & i{
                color: #eeedfb;
                transition: all .3s ease;
           }
        }
    }
}