@use '../../utils' as *;

/*----------------------------------------*/
/* 7.18 video css7.27 value css
/*----------------------------------------*/

.tp-video{
    &-popup{
        &-wrapper{
            @media #{$md,$sm,$xs}{
                text-align: center;
                margin-top: 100px;
            }
        }
    }
    &-play{
        height: 80px;
        width: 80px;
        display: inline-block;
        background: var(--tp-common-white);
        text-align: center;
        line-height: 90px;
        border-radius: 50%;
        font-size: 22px;
        color: var(--tp-blue-2);
        position: relative;
        &:hover{
            color: var(--tp-blue-2);
        }
    }
    &-waves{
        position: absolute;
        width: 150px;
        height: 150px;
        background: var(--tp-common-white);
        opacity: 0;
        border-radius: 100%;
        right: -35px;
        bottom: -34px;
        z-index: -1;
        -webkit-animation: tp-video-waves 3s ease-in-out infinite;
        animation: tp-video-waves 3s ease-in-out infinite;
        position: absolute;
        z-index: 2;
    }
    &-wave-1{
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }
    &-wave-2{
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
    }
    &-wave-3{
        -webkit-animation-delay: 2s;
        animation-delay: 2s;
    }
    &-bus{
        width: 1474px;
        object-fit: cover;
        height: 700px;
        border-radius: 15px;
        filter: drop-shadow(0 0 30.5px rgba(3,5,45,0.08));
        @media #{$xxl,$xl,$lg,$md,$sm,$xs}{
            width: 100%;
        }
        @media #{$sm,$xs}{
            height: 400px;
        }
    }
    &-btn{
        &-2{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
            text-align: center;
        }
    }
}